[submodule "feature-store"]
	path = feature-store
	url = https://github.com/dream11/darwin-ofs-v2.git
	branch = darwin-k8s-local
[submodule "workspace"]
	path = workspace
	url = https://github.com/dream11/darwin-workspace.git
	branch = feat/onboard-distro
[submodule "mlflow"]
	path = mlflow
	url = https://github.com/dream11/darwin-mlflow.git
[submodule "chronos"]
	path = chronos
	url = https://github.com/dream11/chronos.git
	branch = feat/chronos_distro_changes
[submodule "darwin-compute"]
	path = darwin-compute
	url = https://github.com/dream11/darwin-compute.git
	branch = agharsh/feat/localstack
[submodule "darwin-cluster-manager"]
	path = darwin-cluster-manager
	url = https://github.com/dream11/darwin-cluster-manager/
	branch = agharsh/feat/localstack
