[submodule "feature-store"]
	path = feature-store
	url = https://github.com/dream11/darwin-ofs-v2.git
[submodule "darwin-workflow"]
	path = darwin-workflow
	url = https://github.com/dream11/darwin-workflow.git